.dualsense {
   max-width: 920px;
   margin: 0 auto 9.2rem;
   display: grid;
   grid-template-columns: repeat(10, 1fr);
   align-items: center;

   .dualsense__title {
      grid-column: 1/11;
   }

   .dualsense__info {
      grid-column: 1/6;

      @media screen and (max-width: 1100px) {
         grid-column: 1/8;
      }

      @media screen and (max-width: 720px) {
         grid-column: 1/11;
      }

      .dualsense__description {
         font-size: 1.8rem;
         line-height: 2.7rem;
         color: #a9c7c7;

         .violet {
            color: $fontColor3;
            font-weight: 500;
         }

         .red {
            color: red;
         }
      }

      .dualsense__description:nth-child(2) {
         margin-top: 2.2rem;
         margin-bottom: 2.7rem;
      }

      .dualsense__price {
         font-weight: 700;
         font-size: 3rem;
         line-height: 3.6rem;

         @media screen and (max-width: 500px) {
            display: block;
            text-align: center;
            margin-left: 0;
         }
      }

      button.btn-red {
         @media screen and (max-width: 500px) {
            margin: 1rem auto;
            display: block;
         }
      }
   }

   .dualsense__gadjet {
      grid-column: 8/11;

      animation: gadjet 0.7s alternate linear infinite;

      @media screen and (max-width: 720px) {
         grid-column: 1/11;
         justify-self: center;
      }

      img {
         @media screen and (max-width: 1100px) {
            width: 100%;
         }
      }
   }
}

@keyframes gadjet {
   0% {
      transform: translateY(2rem);
   }
   100% {
      transform: translateY(0);
   }
}
