<div class="s container active-anim">
   <div class="editions">
      <h2 class="editions__title title" id="editions" data-text="editions">Editions</h2>
      <div class="editions__cards">
         <div class="editions__card">
            <img src="assets/images/Editions/img1.jpg" alt="" class="editions__card-img">
            <h4 class="editions__card-title">Standard Edition</h4>
            <span class="editions__card-ps">PS5</span>
            <div class="editions__card-info">
               <div class="editions__card-description">Offline play enabled</div>
               <div class="editions__card-description">Remote Play supported</div>
               <div class="editions__card-description">Trigger effect required</div>
            </div>
            <span class="editions__card-price">19.99$</span>
            <button class="btn btn-small editions__card-btn">buy NOW</button>
         </div>
         <div class="editions__card">
            <img src="assets/images/Editions/img1.jpg" alt="" class="editions__card-img">
            <h4 class="editions__card-title">Standard Edition</h4>
            <span class="editions__card-ps">PS4</span>
            <div class="editions__card-info">
               <div class="editions__card-description">Offline play enabled</div>
               <div class="editions__card-description">Remote Play supported</div>
               <div class="editions__card-description">Trigger effect required</div>
            </div>
            <span class="editions__card-price">18.99$</span>
            <button class="btn btn-small editions__card-btn">buy NOW</button>
         </div>
         <div class="editions__card">
            <img src="assets/images/Editions/img2.jpg" alt="" class="editions__card-img">
            <h4 class="editions__card-title">Digital Deluxe Edition</h4>
            <span class="editions__card-ps">PS5</span>
            <div class="editions__card-info">
               <div class="editions__card-description">All features of Standard Edition</div>
               <div class="editions__card-description">Darkdale Armour</div>
               <div class="editions__card-description">Official digital soundtrack</div>
            </div>
            <span class="editions__card-price">29.99$</span>
            <button class="btn btn-small editions__card-btn">buy NOW</button>
         </div>
      </div>
   </div>
</div>