<div class="wrapper">
   <div class="modal">
      <button class="modal__close">&#10006;</button>

      <h3 class="modal__title">GOD OF WAR RAGNAROK</h3>
      <span class="modal__subtitle">STANDARD EDTION</span>

      <form action="" class="modal-form form">
         <div class="form__group full">
            <label for="credit">CREDIT CARD:</label>
            <input type="text" id="credit" placeholder="0000 0000 0000 0000" class="form__input">
         </div>
         <div class="form__group">
            <label for="expire">expire:</label>
            <input type="text" id="expire" placeholder="mm/yy" class="form__input">
         </div>
         <div class="form__group">
            <label for="CCV">CCV:</label>
            <input type="text" id="CCV" placeholder="***" class="form__input">
         </div>
         <div class="form__group full">
            <label for="INSTANT">INSTANT:</label>
            <input type="text" id="INSTANT" placeholder="John Doe" class="form__input">
         </div>
         <div class="form__group full">
            <input type="checkbox" id="checkbox" placeholder="John Doe" class="form__input form__input-checkbox">
            <label for="checkbox" class="form__check-lable">I agree with the <span>rules</span> of the site</label>
         </div>
         <div class="form__description">
            Download of this product is subject to the PlayStation Network Terms of Service and our Software Usage Terms
            plus any specific additional conditions applying to this product. If you do not wish to accept these terms,
            do not download this product. See Terms of Service for more important information.
         </div>
         <div class="form__summ">
            <div class="form__summ-info">YOUR TOTAL SUMMA:</div>
            <div class="form__summ-value">19.99$</div>
         </div>
         <button class="btn form__btn" type="submit">buy NOW</button>
      </form>
   </div>
</div>